@model Club



<h1>Add a Club to Golfbag @Model.Id</h1>

<form method="post" action="/Golfbag/@Model.Id">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" />
    </div>
    <button type="submit">Add Club</button>
</form>