@model IEnumerable<GolfBag>

<h1>Golf Bags</h1>

@foreach (var golfbag in Model)
{
    <div class="golfbag-info">
        <p>Id: @golfbag.Id, Player: @golfbag.Player, Capacity: @golfbag.Capacity</p>

        <form action="/Golfbags/Delete/@golfbag.Id" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>
}