<h1>Add a Golfbag</h1>

<form method="post" action="/golfbags">
	<div class="form-group">
		<label for="Player">Player:</label>
		<input type="text" id="Player" name="Player" />
	</div>
	<div class="form-group">
		<label for="Capacity">Capacity:</label>
		<input type="number" id="Capacity" name="Capacity" />
	</div>
	<button type="submit">Create Golfbag</button>
</form>
